@font-face {
  font-family: 'Lazer';
  src: local('Lazer'), url(./assets/fonts//Lazer84.woff) format('woff');
}



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("assets/img/neonbg1.jpg");
 
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  min-height: 100vh;
}



